Repository zonemaster/zonemaster-backend, pull requests merged in 2020-04, with the labels that each got.

#588 Compatibility with systemd-tmpfiles on CentOS
  docs/Installation.md
Labels: A-OSintegration

#592 Inline Ubuntu implementation of status_of_proc
  share/zm-rpcapi.lsb
Labels: A-RCPAPI

#599 Update supported Perl versions in Travis
  .travis.yml
Labels: A-Travis

#585 Missing files added
  MANIFEST
Labels: A-BuildSystem, S-ProposalExists, T-Bug

#594 Fix for translation on FreeBSD 12.1.
  lib/Zonemaster/Backend/Translator.pm
Labels: A-Translation

#601 Avoid rerunning unrelated tmpfiles configs
  docs/Installation.md
Labels: A-OSintegration

#584 Installation document updated for FreeBSD
  docs/Installation.md
Labels: A-Installation, S-ProposalExists

#606 Debian installation
  docs/Installation.md
Labels: A-Installation

#604 Updated CentOS installation instructions
  docs/Installation.md
Labels: A-Installation

#608 Updates of instruction for Debian/Ubuntu
  docs/Installation.md
Labels: A-Installation
